[submodule "excercises/msa-catalogue"]
	path = excercises/msa-catalogue
	url = git@github.com:membrane/msa-catalogue.git
[submodule "msa-utils"]
	path = msa-utils
	url = git@github.com:membrane/msa-utils.git
[submodule "excercises/msa-utils"]
	path = excercises/msa-utils
	url = git@github.com:membrane/msa-utils.git
[submodule "excercises/msa-stock"]
	path = excercises/msa-stock
	url = git@github.com:membrane/msa-stock.git
[submodule "excercises/msa-logging"]
	path = excercises/msa-logging
	url = git@github.com:membrane/msa-logging.git
